<div class="feeddiv" >
  <div class="search">
    <input ng-model="query" placeholder="Search" />
  </div>

  <ul class="allPosts" style="list-style: none;" ng-controller="PostController"> <!-- PostsControleer renamed from getHTMLController -->

    <!--   <ul class="allPosts" style="list-style: none;" ng-controller="getHTMLController"> -->
    <!--     <view-post post="post" ng-repeat="post in post | orderBy:'createdAt' | filter:query">
        </view-post> -->
    <viewpost></viewpost>
    <viewpost post="post" ng-repeat="post in post | orderBy:'createdAt' | filter:query"></viewpost>
  </ul>
</div>